body {
  background-color: #595959;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0; 
}

#input[type=text] {
  font-size: 24px;
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none; 
}

#enterBtn {
  display: inline-block;
  cursor: pointer;
  width: 8%;
  background-color: #f8f8f8;
  font-size: 18px;
  border-radius: 10px;
  border-width: 1px;
  margin-left: 10px
}

#inputDiv {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0;
}

#canvas {
  margin-top: 10px;
  background-color: #f8f8f8; 
  border: 1px solid #000000;
}